{% extends "blog-base.html" %}
{% import "macros/post-preview.html" as macros %}

{% block title %}{{ term.name }} Tag{% endblock title %}

{% block blog_content %}
<h1>Posts tagged "{{ term.name }}"</h1>

{% if paginator %}
  {% for page in paginator.pages %}
  {{ macros::post_preview(page=page) }}
  {% endfor %}
{% else %}
  {% set sorted_pages = term.pages | sort(attribute="date") | reverse %}
  {% for page in sorted_pages %}
  {{ macros::post_preview(page=page) }}
  {% endfor %}
{% endif %}
{% endblock blog_content %}
